<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sequi alias, eligendi nam voluptate, velit possimus est voluptatum id distinctio aut doloribus, quibusdam placeat temporibus ut consequuntur doloremque. Architecto, voluptate?</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>